// background image
.homeContainer {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('./images/backgroundPortfolioColors.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// dark overlay and grid
.contentContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "body"
  ;
  background-color: rgba(0, 0, 0, 0.521);
  height: 100vh;
  width: 100vw;
}