/////// variables
%textContaineCircles {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-size: 3em;
}
%textContaineCircles:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.171);
}

%linkImages {
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    margin: 10px;
}
%linkImages:hover {
    background-color: rgba(0, 0, 0, 0.63);
}
%centerThings {
    display: flex;
    align-items: center;
    justify-content: center;
}
/////// effects
@keyframes homeMainBoxEffect {
    0% {
        height: 15px;
        width: 15px;
        min-height: 0px;
        min-width: 0px;
        padding: 0px;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
    }
    20% {
        height: 15px;
        width: 15px;
        min-height: 0px;
        min-width: 0px;
        background-color: white;
        padding: 0px;
        border: 2px solid white;
        border-radius: 50%;
    }
    100% {
        padding: 0;
        min-height: 200px;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        background-color: rgba(29, 29, 29, 0.616);
    }
}
@-webkit-keyframes homeMainBoxEffect {
    0% {
        height: 15px;
        width: 15px;
        min-height: 0px;
        min-width: 0px;
        padding: 0px;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
    }
    20% {
        height: 15px;
        width: 15px;
        min-height: 0px;
        min-width: 0px;
        background-color: white;
        padding: 0px;
        border: 2px solid white;
        border-radius: 50%;
    }
    100% {
        padding: 0;
        min-height: 200px;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        background-color: rgba(29, 29, 29, 0.616);
    }
}
@keyframes delayVisibility {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
////// styles
@-webkit-keyframes delayVisibility {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes changeBorder {
    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 40%;
    }
    100% {
        border-radius: 50%;
    }
}
@-webkit-keyframes changeBorder {
    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 40%;
    }
    100% {
        border-radius: 50%;
    }
}
////// styles

.HomeContentContainer {
    grid-area: body;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    '. middleCircle .'
    'leftCircle . rightCircle';
    .circleContainerMiddle {
        grid-area: middleCircle;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        height: 100%;
        @extend %centerThings;
        .homeMainBox {
            border-radius: 50%;
            animation: homeMainBoxEffect 3s .5s forwards;
            .textContainer {
                @extend %textContaineCircles;
                display: flex;
                flex-direction: column;
                animation: delayVisibility;
                animation-duration: 4.5s;
                animation-delay: 0s;
                animation-fill-mode: forwards;
                .linksContainer {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    margin-top: 2vh;
                    justify-content: center;
                    .whiteGithub {
                        @extend %linkImages;
                        background-image: url('./images/whiteGithub.png');
                    }
                    .whiteGithub:hover {
                        border-radius: 50%;
                    }
                    .whiteLinkedin {
                        @extend %linkImages;
                        background-image: url('./images/transparentWhiteLinkedin.png');
                    }
                    .whiteLinkedin:hover {
                        border-radius: 20%;
                    }
                    .whiteDoc {
                        @extend %linkImages;
                        width: 40px;
                        background-image: url('./images/whiteDoc.png');
                    }
                    .whiteDoc:hover {
                        border-radius: 20%;
                    }
                }
            }
        }
    }
    .circleContainerLeft {
        margin-left: 10px;
        grid-area: leftCircle;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        height: 100%;
        @extend %centerThings;
        .aboutContainer {
            border-radius: 50%;
            animation: homeMainBoxEffect 3s .5s forwards;
            animation-delay: 1s;
            .textContainer {
                @extend %textContaineCircles;
                animation: delayVisibility;
                animation-fill-mode: forwards;
                animation-duration: 5.5s;
                animation-delay: 0s;
            }
        }
    }
    .circleContainerRight {
        grid-area: rightCircle;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        height: 100%;
        @extend %centerThings;
        .workContainer {
            border-radius: 50%;
            animation: homeMainBoxEffect 2s .5s forwards;
            animation-delay: 1s;
            .textContainer {
                @extend %textContaineCircles;
                animation: delayVisibility;
                animation-duration: 5.5s;
                animation-delay: 0s;
                animation-fill-mode: forwards;
            }
        }
    }
    
    @keyframes makeCircleWholeScreen {
        0% {
            position: absolute;
            border-radius: 50%;
            z-index: 2;
            padding: 0;
            min-width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgba(29, 29, 29, 0.616);
        }
        100% {
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            padding: 0;
            min-width: 10000px;
            height: 10000px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgb(29, 29, 29);
        }
    }
    @-webkit-keyframes makeCircleWholeScreen {
        0% {
            position: absolute;
            border-radius: 50%;
            z-index: 2;
            padding: 0;
            min-width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgba(29, 29, 29, 0.616);
        }
        100% {
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            padding: 0;
            min-width: 10000px;
            height: 10000px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgb(29, 29, 29);
        }
    }
    
    @keyframes dimText {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0
        }
    }
    @-webkit-keyframes dimText {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0
        }
    }
    
    .aboutContainerMakeBig {
        position: absolute;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        animation: makeCircleWholeScreen 3s forwards;
        border-radius: 50%;
        padding: 0;
        min-height: 200px;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        background-color: rgba(29, 29, 29, 0.616);
        .textContainer {
            @extend %textContaineCircles;
            animation: dimText;
            animation-duration: .5s;
            animation-delay: 2.3s;
            animation-fill-mode: forwards;
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1300px) {
    @keyframes homeMainBoxEffect {
        0% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            padding: 0px;
            background-color: white;
            border: 2px solid white;
            border-radius: 50%;
        }
        20% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            background-color: white;
            padding: 0px;
            border: 2px solid white;
            border-radius: 50%;
        }
        100% {
            padding: 0;
            min-height: 200px;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgba(29, 29, 29, 0.616);
        }
    }
    @-webkit-keyframes homeMainBoxEffect {
        0% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            padding: 0px;
            background-color: white;
            border: 2px solid white;
            border-radius: 50%;
        }
        20% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            background-color: white;
            padding: 0px;
            border: 2px solid white;
            border-radius: 50%;
        }
        100% {
            padding: 0;
            min-height: 200px;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgba(29, 29, 29, 0.616);
        }
    }
    
    .aboutContainerMakeBig {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    @keyframes homeMainBoxEffect {
        0% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            padding: 0px;
            background-color: white;
            border: 2px solid white;
            border-radius: 50%;
        }
        20% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            background-color: white;
            padding: 0px;
            border: 2px solid white;
            border-radius: 50%;
        }
        100% {
            padding: 0;
            min-height: 200px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgba(29, 29, 29, 0.8);
        }
    }
    @-webkit-keyframes homeMainBoxEffect {
        0% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            padding: 0px;
            background-color: white;
            border: 2px solid white;
            border-radius: 50%;
        }
        20% {
            height: 15px;
            width: 15px;
            min-height: 0px;
            min-width: 0px;
            background-color: white;
            padding: 0px;
            border: 2px solid white;
            border-radius: 50%;
        }
        100% {
            padding: 0;
            min-height: 200px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgb(29, 29, 29, 0.8);
        }
    }
    
    .aboutContainerMakeBig {
        width: 200px;
        height: 200px;
    }
    %linkImages {
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 35px;
        margin: 5px;
    }
    %linkImages:hover {
        background-color: rgba(0, 0, 0, 0.63);
    }
    .HomeContentContainer {
        grid-area: body;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 39% 30% 30% 10%;
        grid-template-areas: 
        'middleCircle'
        'leftCircle'
        'rightCircle'
        '.';
        .circleContainerMiddle {
            margin: 0;
            padding: 0;
            .homeMainBox {
                .textContainer {
                    font-size: 2em;
                    .linksContainer {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        margin-top: 1vh;
                        justify-content: center;
                        .whiteGithub {
                            @extend %linkImages;
                            background-image: url('./images/whiteGithub.png');
                        }
                        .whiteGithub:hover {
                            border-radius: 50%;
                        }
                        .whiteLinkedin {
                            @extend %linkImages;
                            background-image: url('./images/transparentWhiteLinkedin.png');
                        }
                        .whiteLinkedin:hover {
                            border-radius: 20%;
                        }
                        .whiteDoc {
                            @extend %linkImages;
                            width: 40px;
                            background-image: url('./images/whiteDoc.png');
                        }
                        .whiteDoc:hover {
                            border-radius: 20%;
                        }
                    }
                }
            }
        }
        .circleContainerLeft {
            margin: 0;
            padding: 0;
            .aboutContainer {
                .textContainer {
                    font-size: 2em;
                }
            }
        }
        .circleContainerRight {
            margin: 0;
            padding: 0;
            .workContainer {
                .textContainer {
                    font-size: 2em;
                }
            }
        }
    }
}
