%centerThings {
    display: flex;
    align-items: center;
    justify-content: center;
}
%textContaineCircles {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(207, 205, 205);
    width: 100%;
    height: 100%;
    font-size: 2em;
}
%textContaineCircles:hover {
    border-radius: 50%;
    background-color: rgb(68, 67, 67);
}

%workImages {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 50px;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    h3 {
        margin-bottom: 10px;
    }
    .lowerImageContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 420px;
        margin-top: 5px;
        // justify-content: center;
        .lowerLeftImage {
            margin-top: 5px;
            max-height: 200px;
            max-width: 190px;
        }
    }
    .workImages {
        max-width: 420px;
        max-height: 500px;
    }
}
@keyframes makeCircleWholeScreenMobile {
    0% {
        z-index: 10;
        top: -10px;
        left: 0px;
        position: absolute;
        min-height: 5000px;
        min-width: 5000px;
        background-color: #1d1d1d00;
    }
    100% {
        z-index: 10;
        top: -10px;
        left: 0px;
        position: absolute;
        min-height: 5000px;
        min-width: 5000px;
        background-color: #1d1d1d;
    }
}
@-webkit-keyframes makeCircleWholeScreenMobile {
    0% {
        z-index: 10;
        top: -10px;
        left: 0px;
        position: absolute;
        min-height: 5000px;
        min-width: 5000px;
        background-color: #1d1d1d00;
    }
    100% {
        z-index: 10;
        top: -10px;
        left: 0px;
        position: absolute;
        min-height: 5000px;
        min-width: 5000px;
        background-color: #1d1d1d;
    }
}
@keyframes homeMainBoxEffect {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        min-height: 0px;
        min-width: 0px;
        padding: 0px;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
    }

    100% {
        opacity: 1;
        padding: 0;
        min-height: 200px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid rgb(207, 205, 205);
        background-color: rgba(207, 205, 205, 0.123);
    }
}
@-webkit-keyframes homeMainBoxEffect {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        min-height: 0px;
        min-width: 0px;
        padding: 0px;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
    }

    100% {
        opacity: 1;
        padding: 0;
        min-height: 200px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid rgb(207, 205, 205);
        background-color: rgba(207, 205, 205, 0.123);
    }
}
@keyframes delayVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes delayVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.workMainContainer {
    a {
        text-decoration: none;
        color: white;
        z-index: 3;
    }
    position: relative;
    background-color: rgb(29, 29, 29);
    width: 100vw;
    height: 100vh;
    min-height: 700px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    'leftCircle title rightCircle'
    'mainContent mainContent mainContent';
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    // title
    .workTitle {
        grid-area: title;
        opacity: 0;
        width: 100%;
        padding: 0;
        font-size: 2em;
        color: white;
        animation: delayVisibility;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        text-align: center;
    }
    .workContainerTwo {
        grid-area: mainContent;
        display: grid;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 100%;
        grid-template-areas: 
        'leftContent middleContent rightContent';
        .middleSpacer {
            grid-area: middleSpacer;
        }
        // display container
        .giftataContainer {
            @extend %workImages;
            position: absolute;
            top: 0px;
            grid-area: middleContent;
            cursor: pointer;
        }
        
        .daveContainer {
            @extend %workImages;
            grid-area: leftContent;
            cursor: pointer;
        }
        
        .crmContainer {
            @extend %workImages;
            grid-area: rightContent;
            cursor: pointer;
        }
    }
    @keyframes delayVisibility {
        0% {
            opacity: 0;
        }
        85% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes delayVisibility {
        0% {
            opacity: 0;
        }
        85% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .circleContainerLeft {
        grid-area: leftCircle;
        z-index: 2;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 90%;
        height: 90%;
        margin: 10px;
        // margin-left: 20px;
        .aboutContainer {
            border-radius: 50%;
            animation: homeMainBoxEffect 1s .5s forwards;
            animation-delay: 1s;
            display: flex;
            align-items: center;
            justify-content: center;
            .textContainer {
                @extend %textContaineCircles;
                animation: delayVisibility;
                animation-fill-mode: forwards;
                animation-duration: 3s;
            }
        }
        .textInEffect {
            display: none;
        }
    }

    /// left circle effect
    $widthVar: 200px;
    $heightVar: 200px;
    $offSetHeight: 10000px;
    $offSetWidth: 10000px;
    $positioningLeft: $offSetWidth - ($offSetWidth/1.2);
    $positioningTop: $offSetWidth - ($offSetWidth/1.2);
    @keyframes makeCircleWholeScreen {
        0% {
            z-index: 10;
            position: absolute;
            left: 0px;
            top: 0px;
            height: $heightVar;
            width: $widthVar;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-image: url('./images/backgroundPortfolioColors.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        100% {
            z-index: 10;
            position: absolute;
            left: -$positioningLeft;
            top: -$positioningTop;
            height: $offSetHeight;
            width: $offSetWidth;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-image: url('./images/backgroundPortfolioColors.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    }
    @-webkit-keyframes makeCircleWholeScreen {
        0% {
            z-index: 10;
            position: absolute;
            left: 0px;
            top: 0px;
            height: $heightVar;
            width: $widthVar;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-image: url('./images/backgroundPortfolioColors.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        100% {
            z-index: 10;
            position: absolute;
            left: -$positioningLeft;
            top: -$positioningTop;
            height: $offSetHeight;
            width: $offSetWidth;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-image: url('./images/backgroundPortfolioColors.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    }
    $widthVarTwo: 200px;
    $heightVarTwo: 200px;
    $offSetHeightTwo: 10000px;
    $offSetWidthTwo: 10000px;
    $positioningLeftTwo: $offSetWidthTwo - ($offSetWidthTwo/1.2);
    $positioningTopTwo: $offSetWidthTwo - ($offSetWidthTwo/1.2);
    @keyframes makeCircleWholeScreenBlack {
        0% {
            z-index: 10;
            position: absolute;
            left: 5px;
            top: 5px;
            height: $heightVarTwo;
            width: $widthVarTwo;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.2);
        }
        100% {
            z-index: 10;
            position: absolute;
            left: -$positioningLeftTwo;
            top: -$positioningTopTwo;
            height: $offSetHeightTwo;
            width: $offSetWidthTwo;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    @-webkit-keyframes makeCircleWholeScreenBlack {
        0% {
            z-index: 10;
            position: absolute;
            left: 5px;
            top: 5px;
            height: $heightVarTwo;
            width: $widthVarTwo;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.2);
        }
        100% {
            z-index: 10;
            position: absolute;
            left: -$positioningLeftTwo;
            top: -$positioningTopTwo;
            height: $offSetHeightTwo;
            width: $offSetWidthTwo;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    // right circle effect
    $widthVarRight: 200px;
    $heightVarRight: 200px;
    $offSetHeightRight: 10000px;
    $offSetWidthRight: 10000px;
    $positioningLeftRight: $offSetWidthRight - ($offSetWidthRight/1.2);
    $positioningTopRight: $offSetWidthRight - ($offSetWidthRight/1.2);
    @keyframes makeCircleWholeScreenRight {
        0% {
            z-index: 10;
            position: absolute;
            right: 0px;
            top: 0px;
            height: $heightVarRight;
            width: $widthVarRight;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: black;
        }
        100% {
            z-index: 10;
            position: absolute;
            right: -$positioningLeftRight;
            top: -$positioningTopRight;
            height: $offSetHeightRight;
            width: $offSetWidthRight;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: #1D1D1D;
        }
    }
    @-webkit-keyframes makeCircleWholeScreenRight {
        0% {
            z-index: 10;
            position: absolute;
            right: 0px;
            top: 0px;
            height: $heightVarRight;
            width: $widthVarRight;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: black;
        }
        100% {
            z-index: 10;
            position: absolute;
            right: -$positioningLeftRight;
            top: -$positioningTopRight;
            height: $offSetHeightRight;
            width: $offSetWidthRight;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            background-color: #1D1D1D;
        }
    }

    @keyframes identifiermakeVisible {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes identifiermakeVisible {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .absoluteLeftCircle {
        .homeMakeBig {
            animation: makeCircleWholeScreen 5s forwards linear;
        }
        .safariHomeMakeBig {
            animation: makeCircleWholeScreenMobile 5s forwards linear;
        }
        .blackOverlay {
            animation: makeCircleWholeScreenBlack 5s forwards linear;
        }
        .safariBlackOverlay {
            display: none;
        }
        .textInEffect {
            animation: identifiermakeVisible 2s forwards;
            display: block;
            position: absolute;
            left: 50px;
            top: 60px;
            font-size: 2em;
            color: white;
            z-index: 11;
        }
    }
    .circleContainerRight {
        z-index: 2;
        grid-area: rightCircle;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 95%;
        height: 90%;
        @extend %centerThings;
        align-items: flex-start;
        justify-content: flex-end;
        .workContainer {
            border-radius: 50%;
            animation: homeMainBoxEffect 1s .5s forwards;
            animation-delay: 1s;
            display: flex;
            align-items: center;
            justify-content: center;
            .textContainer {
                @extend %textContaineCircles;
                animation: delayVisibility;
                animation-fill-mode: forwards;
                animation-duration: 2s;
            }
        }
        .textInEffect {
            display: none;
        }
    }
    .absoluteLeftCircleRight {
        .homeMakeBigRight {
            animation: makeCircleWholeScreenRight 5s forwards linear;
        }
        .safariHomeMakeBigRight {
            animation: makeCircleWholeScreenMobile 5s forwards linear;
        }
        .textInEffect {
            animation: identifiermakeVisible 2s forwards;
            display: block;
            position: absolute;
            right: 50px;
            top: 60px;
            font-size: 2em;
            color: white;
            z-index: 11;
        }
    }
}

@media only screen and (max-width: 1400px) {
    %workImagesMobile {
        display: flex;
        flex-direction: column;
        color: white;
        margin-top: 50px;
        width: 100%;
        height: 90%;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        h3 {
            margin-bottom: 10px;
        }
        .lowerImageContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 420px;
            margin-top: 5px;
            // justify-content: center;
            .lowerLeftImage {
                margin-top: 5px;
                max-height: 200px;
                max-width: 190px;
            }
        }
        .workImages {
            max-width: 420px;
            max-height: 500px;
        }
    }
    .workMainContainer {
        overflow: hidden;
        background-color: rgb(29, 29, 29);
        width: 100vw;
        height: 100vh;
        min-height: 700px;
        display: grid;
        overflow: hidden;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 25% 75%;
        grid-template-areas: 
        'leftCircle title rightCircle'
        'mainContent mainContent mainContent';
        flex-direction: column;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            // title
        .workTitle {
            grid-area: title;
            opacity: 0;
            width: 100%;
            padding: 20px;
            font-size: 2em;
            color: white;
            animation: delayVisibility;
            animation-duration: 1s;
            animation-delay: .5s;
            animation-fill-mode: forwards;
            text-align: center;
        }
        .workContainerTwo {
            grid-area: mainContent;
            display: grid;
            overflow: auto;
            height: 100%;
            width: 100vw;
            grid-template-columns: 100%;
            grid-template-rows: 460px 430px 460px;
            grid-template-areas: 
            'leftContent' 
            'middleContent' 
            'rightContent';
            // display container
            .giftataContainer {
                @extend %workImagesMobile;
                position: relative;
                grid-area: middleContent;
                margin-left: 10px;
            }
            
            .daveContainer {
                @extend %workImagesMobile;
                grid-area: leftContent;
                margin-left: 10px;
            }
            
            .crmContainer {
                @extend %workImagesMobile;
                grid-area: rightContent;
                padding-bottom: 40px;
                margin-left: 10px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    @keyframes homeMainBoxEffectTwo {
        0% {
            opacity: 0;
            height: 0px;
            width: 0px;
            min-height: 0px;
            min-width: 0px;
            padding: 0px;
            background-color: white;
            border: 2px solid white;
            border-radius: 50%;
        }
        90% {
            opacity: 0;
            height: 0px;
            width: 0px;
            min-height: 0px;
            min-width: 0px;
            background-color: white;
            padding: 0px;
            border: 2px solid white;
            border-radius: 50%;
        }
        100% {
            opacity: 1;
            padding: 0;
            min-height: 90px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 2px solid rgb(207, 205, 205);
            background-color: rgba(207, 205, 205, 0.123);
        }
    }
    @-webkit-keyframes homeMainBoxEffectTwo {
        0% {
            opacity: 0;
            height: 0px;
            width: 0px;
            min-height: 0px;
            min-width: 0px;
            padding: 0px;
            background-color: white;
            border: 2px solid white;
            border-radius: 50%;
        }
        90% {
            opacity: 0;
            height: 0px;
            width: 0px;
            min-height: 0px;
            min-width: 0px;
            background-color: white;
            padding: 0px;
            border: 2px solid white;
            border-radius: 50%;
        }
        100% {
            opacity: 1;
            padding: 0;
            min-height: 90px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 2px solid rgb(207, 205, 205);
            background-color: rgba(207, 205, 205, 0.123);
        }
    }
    %textContaineCirclesTwo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(207, 205, 205);
        width: 90px;
        height: 90px;
        font-size: 2em;
    }
    %textContaineCirclesTwo:hover {
        border-radius: 50%;
        background-color: rgb(68, 67, 67);
    }
    %workImagesMobileTwo {
        display: flex;
        flex-direction: column;
        color: white;
        margin-top: 50px;
        height: 90%;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        h3 {
            margin-bottom: 10px;
        }
        .lowerImageContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 300px;
            margin-top: 5px;
            // justify-content: center;
            .lowerLeftImage {
                margin-top: 5px;
                max-height: 200px;
                max-width: 130px;
            }
        }
        .workImages {
            max-width: 300px;
            max-height: 400px;
        }
    }
    .workMainContainer {
        background-color: aliceblue;
        overflow: hidden;
        background-color: rgb(29, 29, 29);
        width: 100%;
        height: 100%;
        display: grid;
        overflow: hidden;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        'leftCircle title rightCircle'
        'mainContent mainContent mainContent';
        flex-direction: column;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            // title
        .workTitle {
            grid-area: title;
            opacity: 0;
            width: 100%;
            // padding: 20px;
            font-size: 2em;
            color: white;
            animation: delayVisibility;
            animation-duration: 1s;
            animation-delay: .5s;
            animation-fill-mode: forwards;
            text-align: center;
            padding: 0;
        }
        .workContainerTwo {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: mainContent;
            display: grid;
            overflow: auto;
            padding: 10px;
            height: 600px;
            width: 100vw;
            grid-template-columns: 100%;
            grid-template-rows: 350px 350px 350px;
            grid-template-areas: 
            'leftContent' 
            'middleContent' 
            'rightContent';
            // display container
            .giftataContainer {
                @extend %workImagesMobileTwo;
                position: relative;
                grid-area: middleContent;
                margin-left: -12px;
                margin-top: 0px;
            }
            
            .daveContainer {
                @extend %workImagesMobileTwo;
                grid-area: leftContent;
                position: relative;
                margin-left: -12px;
                padding-top: 0px;
                margin-top: 0px;
            }
            
            .crmContainer {
                @extend %workImagesMobileTwo;
                grid-area: rightContent;
                position: relative;
                padding-bottom: 30px;
                margin-left: -12px;
                margin-top: 0px;
            }
        }
        @keyframes makeCircleWholeScreenMobileTwo {
            0% {
                z-index: 20;
                top: -10px;
                left: 0px;
                position: absolute;
                min-height: 1000px;
                min-width: 1000px;
                background-color: #1d1d1d00;
            }
            100% {
                z-index: 20;
                top: -10px;
                left: 0px;
                position: absolute;
                min-height: 1000px;
                min-width: 1000px;
                background-color: #1d1d1d;
            }
        }
        @-webkit-keyframes makeCircleWholeScreenMobileTwo {
            0% {
                position: absolute;
                z-index: 20;
                top: -10px;
                left: 0px;
                min-height: 1000px;
                min-width: 1000px;
                background-color: #1d1d1d00;
            }
            100% {
                position: absolute;
                z-index: 20;
                top: -10px;
                left: 0px;
                min-height: 1000px;
                min-width: 1000px;
                background-color: #1d1d1d;
            }
        }
        .circleContainerLeft {
            grid-area: leftCircle;
            z-index: 2;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            .aboutContainer {
                margin: 10px;
                border-radius: 50%;
                animation: homeMainBoxEffectTwo 3s .5s forwards;
                animation-delay: 1s;
                display: flex;
                align-items: center;
                justify-content: center;
                .textContainer {
                    @extend %textContaineCirclesTwo;
                    animation: delayVisibility;
                    animation-fill-mode: forwards;
                    animation-duration: 2s;
                    font-size: 1.2em;
                }
            }
        }
        .absoluteLeftCircle {
            grid-area: leftCircle;
            position: relative;
            .homeMakeBig {
                animation: makeCircleWholeScreenMobileTwo 5s forwards;
            }
            .blackOverlay {
                display: none;
            }
            .safariHomeMakeBig {
                animation: makeCircleWholeScreenMobileTwo 5s forwards;
            }
            .textInEffect {
                animation: identifiermakeVisible 2s forwards;
                display: block;
                position: absolute;
                left: 50px;
                top: 60px;
                font-size: 2em;
                color: white;
                z-index: 11;
            }
        }
        .circleContainerRight {
            z-index: 2;
            grid-area: rightCircle;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            .workContainer {
                margin: 10px;
                border-radius: 50%;
                animation: homeMainBoxEffectTwo 3s .5s forwards;
                animation-delay: 1s;
                display: flex;
                align-items: center;
                justify-content: center;
                .textContainer {
                    @extend %textContaineCirclesTwo;
                    animation: delayVisibility;
                    animation-fill-mode: forwards;
                    animation-duration: 2s;
                    font-size: 1.2em;
                }
            }
        }
        .absoluteLeftCircleRight {
            grid-area: rightCircle;
            position: relative;
            .homeMakeBigRight {
                animation: makeCircleWholeScreenMobileTwo 5s forwards;
            }
            .safariHomeMakeBigRight {
                animation: makeCircleWholeScreenMobileTwo 5s forwards;
            }
            .textInEffect {
                animation: identifiermakeVisible 2s forwards;
                display: block;
                position: absolute;
                right: 50px;
                top: 60px;
                font-size: 2em;
                color: white;
                z-index: 11;
            }
        }
    }
}